{% extends "master.html.twig" %}

{% block title %}{{"Portfolio view"}}{% endblock %}

{% block head %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $skills = json_decode($user['skills']);


        });//end of document ready
    </script>
{% endblock %}  

{% block content %}
    <div class="blueContainer container-fluid text-center">
        <h1>Freelancer portfolio view</h1>
        <br>
        <div class="profileview">
            <br> 
                   {% for user in userList %}
                    <br><br>
                    <img class="img-circle" src="{{user.myImagePath}}" alt="Freelancer picture" height="200" width="200" >
                    <br>

                    <h3>{{user.firstName}}&nbsp;{{user.lastName}}</h3>
                    <!-- Country -->
                    <div class="blueContainer">
                        <br>
                        <span class="glyphicon glyphicon-map-marker"></span>&nbsp;{{user.country}}
                        <br><br>
                    </div>
                    <!-- Rating -->
                    <div class="whiteContainer">
                        <br>
                        Rating:&nbsp; {{user.rating}}  
                        {% for star in starList %}
                            <span class="glyphicon glyphicon-star"></span>&nbsp;
                        {% endfor %}
                        <br><br>
                    </div>
                    <!-- Skills -->
                    <div class="blueContainer">
                        <br>
                        <h4>Skills</h4>                        
                        <a href="#" class="btn btn-primary">{{user.skills}}</a>
                        <br><br>
                    </div>
                    <!-- Overview -->
                    <div class="whiteContainer">
                        <br>
                        <h4>Overview</h4>
                        {{user.overview}} 
                        <br>
                    </div>
                         {% endfor %}
                </div>                       
            <br>
        </div> 
    <br><br>

{% endblock %}
